/*
 * Copyright © 2017, Ventura IT & Consulting
 * http://venturaitc.co.mz
*/

.fieldset-legend {
    font-size: 12px;
    font-weight: bold;
    color: #B11D49;
}

.site-company {
    font-size: large;
    font-weight: bold;
}

.site-footer {
    text-align: center;
    font-size: 12px;
}

